
.productItem {
    width: 25%;
    min-height: 250px;
    box-sizing: border-box;
    padding: 1%;
    &__info {
        padding: 10px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
    }
  }
  
  .productImg {
    position: relative;
    width: 100%;
  }

  @media(max-width:1000px) {
    .productItem {
      width: 33%;
    }
  }